body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(75, 75, 75);
}
#main{
    width: 80%;
    margin: auto;
    display: flex;
    align-self: center;
    justify-content: space-between;
    
}
#main_1{
    width: 38%;
    padding: 20px;
    text-align: center;
}
#main_1 >button{
    width: 50%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 0px;
    background-color: blueviolet;
    color: white;

}
#main_1 >button:hover{
    background-color: black;
}
h1{
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: antiquewhite;
    text-align: center;
    font-size: 35px;
}
#main_2{
    width: 40%;
    padding: 20px;
    text-align: center;
}
#main_2>input {
    width: 90%;
    height: 35px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    border: 0px;

}
#main_2>button{
    width: 25%;
    height: 45px;
    font-size: 15px;
    background-color:black ;
    border: 0px;
    border-radius: 3px;
    color: white;

}

#main_2>button:hover{
    background-color:rgb(4, 204, 4) ;
}
#main_2>input:hover{
    background-color: rgb(226, 255, 245);
}
