#container>div>img{
    width: 150px;
    display: flex;
    margin: auto;
  border: 0px solid red;
  margin-bottom: -10px;
    margin-top: 25px;
}
#container>div{
    width: 100%;
    height: 450px;
    text-align: center;
   justify-content: center;
    margin: auto;
    border: 1px solid gray;
}
#container{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 margin:auto;
 width: 79%;
 margin-top: 80px;
 margin-bottom: 80px;

}
.Product_Price{
  color: rgb(168, 57, 6);
  font-size: 17px;
}

.Product_Name{
  border: 0px red solid;
  height: 30px;
padding: 0px 20px 0px 20px;
}
#cart_Product_Details{
  display: flex;
  justify-content:space-between;
 margin-right: 5%;
}
 #productUpdate{
  display: flex;
  /* justify-content: space-evenly;
  margin-left: 20px; */
  border: 0px solid red;
}
#productUpdate>div{
  display: flex;
  margin-left: 20px;
}
#productUpdate>div>p{
 
  margin-left: 10px;
}
#indexLink{
  padding: 15px;
  margin-top: 10px;
  background-color: #e20389;
  color: white;
}
#indexLink:hover{
  border: 1px solid #DD0285;

}

/* #price{

  display: flex;
  width: 10%;
  
  border: 0px red solid;
  border: 1px solid rgb(170, 63, 99);
}
#totalPrice{
  width: 50% ;
  color:  rgb(170, 63, 99);
  background-color: transparent;
  border: 1px solid white;
  font-size: 22px;
} */
