*{
    font-family: sans-serif;
}
#img_top_nav{
    border: 0px solid ;
    width: 100%;
    height: auto;
}
#img_top_nav>img{
    width: 100%;
}
#footer_container{
    width: 100%;
    height: 450px;
    border: 0px solid green;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:#232323 ;
    color: #fef9ed;
    font-family: sans-serif;
}
#footer_main_container{
    width: 90%;
    height: 75%;
    margin-top: 20px;
    border: 0px solid blue;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px ;
}
#footer_main_container h4{
    text-decoration: underline;
}
#footer_main_container>div :hover{
    /* text-decoration: underline; */
    font-size: 18px;
    color: #e20389;
    
}
.newsletter-footer{
    border: 0px solid green;
    width: 90%;
    height: 23%;
    margin-top: 5px;
    display: flex;
    margin-left: 20px;
    
}
#footer_main_container>div{
    border: 0px solid;
    margin: 10px;
    text-align: left;
    font-size: 17px;
}

#footer_main_container>div :hover{
    cursor: pointer;
}
.fa-brands{
    height: 20%;
}
.footer_payment_img>img{
    margin-top: 20px;
}
#footer_search{
    width: 60%;
    display: flex;
    border: 0px solid grey;
    display: flex;
}
#input-box{
    border: 0px solid red;
}
#title_block{
    border: 0px solid teal;
    width: 35%;
    display: flex;
    justify-content:center ;
    align-items: center;
}
#input-box{
    width: 70%;
    display: flex;
    justify-content:center ;
    align-items: center;
}
#newsletter-footer{
    width: 70%;
    height: 40px;
    text-align: center;
}
#footer_input_btn{
    height: 48px;
    width: 150px;
    color: white;
    background-color:#DD0285 ;
    font-size: 17px;
    font-weight: bold;
}
#hrline{
    color: #fef9ed;
    width: 100%;
}
#middle_div{
    height:90px;
    border: 0px solid green;
    display: flex;
    justify-content:center ;
    align-items: center;
}
#mid_div_cont{
    width: 80%;
    height:80%;
    border: 0px solid blue;
    display: flex;

}
#logo{
    width:25% ;
    border: 0px solid red;

}
#wishlist_login{
    width:22% ;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wishlist_login>button{
    background: transparent;
    
}
#wishlist_login>button:hover{
    cursor: pointer;
}
 #btn1{
    width: 20%;
    height:70% ;
    border: solid 0.5px;
    margin-right: 3px;
}
#btn2{
    width: 20%;
    height:70% ;
    border: solid 0.3px rgb(162, 158, 158);
    margin-right: 3px;
}
#btn3{
    width: 40%;
    height:70% ;
    border: transparent;
    font-size: 16px;
    background-color: transparent;
    white-space: nowrap;
    cursor: pointer;
}
#btn3_div{
    position: relative;
  display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #btn3_div:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover #btn3 {
    background-color: #3e8e41;
  }
  .dropdown-content>button{
    width: 100%;
    background-color: transparent;
    border: transparent;
  }
  .dropdown-content>button:hover{
    background-color: #DD0285;
    color: white;
    font-weight: bold;
  }


#dropdowndon-content-navbar-btn_div{
    position: relative;
    display: flex;
}












#searchbox_nav{
    width:50% ;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_search:hover{
    cursor: pointer;
}
#logo:hover{
    cursor: pointer;
}
#logo>img{
    width: 250px;
    height: 80px;
}
#nav_search{
    width: 70%;
    height: 45%;
}
#nav_search_btn{
    height: 53%;
    width: 10%;
    color: white;
    background-color:#DD0285;
    border: transparent;
}
#nav_search_btn:hover{
    cursor: pointer;
}
#nav_btns_Main_div{
    width: 100%;
    
    height: 50px;
    border: 0px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:#DD0285
}
#nav_btns_div{
    width: 60%;
    height: 100%;
    border: 0px solid blue;
    display: flex;
    justify-content: space-around;
}
#nav_btns_div>button{
    white-space: nowrap;
    display: inline;
width: 100%;
color: white;
    background-color:#DD0285;
    font-family: sans-serif;
    border: transparent;
}
#nav_btns_div>button:hover{
    background-color: #bd2781;
    cursor: pointer;
}
#my_cart{
    width: 17%;
    height: 100%;
    border: 0px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#my_cart_btn{
    white-space: nowrap;
}
#my_cart>button{
    color: white;
    background-color:#dd0285cd;
    font-family: sans-serif;
    border: transparent;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    white-space: nowrap;
}

/* Caraousel div */
#caraousel_div{
    height: 430px;
    width: 100%;
    border: 0px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
#caraousel_child{
    width: 80%;
    height: 430px;
    border: 0px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cat_btn{
    width: 25%;
    height: 95%;
    border: 0px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
#caraousel_top{
    width: 75%;
    height: 95%;
    border: 0px solid purple;
}
.cat_btns{
    width:90%;
    height: 95%;
    border: 0px solid purple;
    font-family: sans-serif;
}
.cat_btns>h4{
    cursor: pointer;
}
.cat_btns>h4:hover{
    text-decoration: underline;
}
.cat_btns>button{
   display: flex;
    width: 100%;
    align-items: center;
    text-align: left;
    white-space: nowrap;
    background-color: transparent;
    margin-bottom: 5px;
    border: transparent;
    cursor: pointer;
}
.cat_btns>button:hover{
    text-decoration: underline;
}
.cat_btns>button>img{
    margin-left: 5px;
    
}
.cat_btns>button>span{
    margin-left: 10px;
    
}
.cat_btns>button>{
    display: flex;
    justify-content: right;
}
#caraousel_top>img{
    width: 100%;
}
#banner{
    height: 218px;
    width: 100%;
    border: 0px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#banneer_img_div{
    width: 80%;
    height: 100%;
    border: 0px solid rgb(108, 36, 60);
}
#banneer_img_div>img{
    width: 100%;
}
#second_carausel{
    height: 450px;
    width: 100%;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec_car{
    width: 80%;
    height: 95%;
    border: 0px solid ;
}

#discount_div{

    height: 300px;
    width: 100%;
    border: 0px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
#disc_cont{
    width: 80%;
    height: 95%;
    border: 0px solid blue ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
#disc_cont>div{
    border: 0px solid green;
}
#disc_cont>div>img{
    width: 100%;
    height: 100%;
}

/* categories_div */
#categories_div{
    height: 500px;
    width: 100%;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec_cat_div{
    width: 80%;
    height: 95%;
    border: 0px solid yellowgreen;
}
#sec_cat_nav{
    height: 20%;
    width: 100%;
    border: 0px solid red ;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
#sec_cat_nav_btn{
    text-align: center;
    border: 0px solid #666 ;
}
#sec_cat_nav_btn:hover{
    border: 2px solid #DD0285;
}
#sec_cat_nav_btn:hover{
    cursor: pointer;
}
#sec_cat_desc:hover{
    background-color: #DD0285;
    color: white;
    
}
#sec_cat_nav_btn>img:hover{
    color: white;
}
#sec_cat_nav_btn>img{
    width: 40%;
    max-height: 40px;
}
#sec_cat_product{
    height: 82%;
    width: 100%;
    border: 0px solid ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3px;
}
#det_product{
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
   
}
#sec_cat_img{
height: 60%;
border: 0px solid green;
}
#sec_cat_img>img{
    width: 100%;
    height: 100%;
}
#sec_cat_desciption{
    height: 40%;
    border: 0px solid blue;
    text-align: center;
}
#desc_p{
    font-weight: 500;
    color: #666;
}
#heart{
    border: transparent;
    height: 20px;
    background-color:white;
    color:#DD0285;
}
#heart:hover{
    cursor: pointer;
}
.fa-heart:hover{
    background-color: #f9f9f9;
    color:#DD0285;
}
#p_banner{
    height: 200px;
    width: 100%;
    border: 0px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}
#p_banner_div{
    width: 80%;
    height: 95%;
    border: 0px solid yellowgreen;
}
#p_banner_div>img{
    width: 100%;
    height: 100%;
}
#foot_product{
    height: 620px;
    width: 100%;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}
#foot_product_div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 80%;
    height: 100%;
    border: 0px solid yellowgreen;

}
#foot_product_div>div{
    border: 0px solid blue;
    display: flex;
    flex-direction: column;
}
#title_p{
    height: 7%;
    border: 0px solid purple;

}
#title_p{
    
    text-decoration: solid purple underline ;
    color: grey;
    
}
#fp_products{
    height: 90%;
    border: 1px solid grey;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
}

#fp_abc{
    border:0px solid #bd2781;
    display: flex;
    gap: 2px;
    
}
#fp_abc1{
    width: 40%;
    height: 100%;
    border:0px solid #232323;
}

#fp_abc2{
    width: 60%;
    height: 100%;
    border:0px solid #232323;
    text-align: center;
}
#product_btn_fp{
    background-color: #DD0285;
}
#fp_abc_img{
    width: 60px;
    margin-top: -10px;
}
#fp_abc1>img{
    width:100% ;
height: 100%;
}
#fp_abc2_p:hover{
    color: #DD0285;
}
#fp_abc2>#price{
    margin-top: -10px;
}
#strikeprice{
    color: #666;
    font-size: 13px;
    text-decoration: line-through;
}
#disc_price{
    font-weight: bold;
    color: #DD0285;
}
#perc_off{
    font-weight: bold;
    color: #3e8e41;
}
#product_btn_fp:hover{
   font-weight: bolder;
   cursor: pointer;

}
#product_btn_fp{
    height: 30px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: transparent;
}
#footer_banner{
    height: 250px;
    width: 100%;
    border: 0px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer_banner_div{
    width: 80%;
    height: 95%;
    border: 0px solid blue;
}
#footer_banner_div>img{
    width: 100%;
    height: 100%;
}
#about_us{
    height: auto;
    width: 100%;
    border: 0px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about_us_div{
    width: 80%;
    height: 95%;
    border: 0px solid orange;
}
#abUsTitle>p{
    font-size: 14px;
    color: #666;
    line-height: 1.66;
    font-family: sans-serif;
    
}
.about_us_desc{
    color: #666;
    font-family: sans-serif;
}

/* second car */
#sec_car>img{
    width: 100%;
    height: 100%;
}
.read-more-btn{
    color:teal;
}
.read-more-btn:hover{
    cursor: pointer;
}
.read-more-text{
    display: none;
}
.read-more-text--show{
    display: inline;
}