#main{
    border: 1px solid white;
    /* margin-top: 150px; */
    padding-top: 90px;
    padding-bottom: 90px;
}
#main>#payment_Head>h2{
    margin-bottom: 50px;
    font-size: 18px;
}
#main>#payment_Head>div{
    width: 70%;
    border: 1px solid orange;
    font-size: 13px;
    font-weight: 100;
    color: rgb(255,179,70);
}
#main>#payment_Head{
    width: 50%;
    border: 0px solid red;
    margin-top: 30px;
    margin-left: 180px;
    margin-bottom: 100px;
}
#main>#payment_Method{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    border: 0px solid red;
    margin-left: 180px;
}
#main>#payment_Method>div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
#main>#payment_Method>div:hover{
    border: 1px solid gray;
}
#main>#payment_Method>div>img{
    width: 60%;
}
#main>#payment_Method>div>p{
    font-size: 11px;
    font-weight: 100;
}
#main>#payment_Offer{
    width: 10%;
    display: grid;
    grid-template-columns: repeat(1, fr);
    gap: 20px;
    border: 0px solid red;
    margin-left: 180px;
    margin-top: 20px;
}
#main>#payment_Offer>div>img{
    width: 60%;
}
#main>#payment_Offer>div:hover{
    border: 1px solid gray;
}
#main>#payment_Offer>div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#main>#payment_Offer>div>p{
    font-size: 11px;
}