#container_skin>div>img{
    width: 150px;
    display: flex;
    margin: auto;
  border: 0px solid red;
  margin-bottom: -10px;
    margin-top: 25px;
}
#container_skin>div{
    width: 94%;
    height: 450px;
    text-align: center;
   justify-content: center;
   margin: 3%;
    border: 1px solid gray;
    border-radius: 8px;
}
#container_skin>div:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#container_skin{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 width: 78%;
 margin: auto;
 margin-bottom: 40px;


}
.Product_Price{
  color: rgb(168, 57, 6);
  font-size: 17px;
}

.Product_Name{
  border: 0px red solid;
  height: 30px;
padding: 0px 20px 0px 20px;
}
.add_to_cart{
  padding: 12px;
  border: 0px solid red;
  border-radius: 5px;
  color: white;
  background-color: palevioletred;
}
#sorting{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
#btn{
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  padding: 10px;

}
.all_btns{
  background-color: transparent;
  border: 1px solid gray;
}
.all_btns:hover{
  background-color: #e20389;
  color: white;
}
#select_Brand{
  background-color: transparent;
  padding: 5px;
  border: 1px solid gray;
}
#select_Brand:hover{
  background-color: #e20389;
  color: white;
}
#sortlh{
  background-color: transparent;
  padding: 5px;
  border: 1px solid gray;
}
#sorthl{
  background-color: transparent;
  padding: 5px;
  border: 1px solid gray;
}
#sorthl:hover{
  background-color: #e20389;
  color: white;
}
#sortlh:hover{
  background-color: #e20389;
  color: white;
}